<div class="links">
    <!-- home -->
    <a href="https://jredondoyuste.github.io" disp-title="Home" target="_blank"><i
        class="fa fa-fw fa-home"></i></a>
    <!-- email -->
    <a href="mailto:jaime.redondo.yuste@nbi.ku.dk" disp-title="Email Me" target="_blank"><i
        class="fa fa-fw fa-envelope "></i></a>
    <!-- curius page -->
    <a href="https://curius.app/jaime-redondo-yuste2" disp-title="Curius" target="_blank"><i 
        class="fa fa-fw fa-chevron-circle-up"></i></a>
    <!-- github -->
    <a href="https://github.com/jredondoyuste" disp-title="GitHub" target="_blank"><i
        class="fab fa-fw fa-github"></i></a>
    <!-- spires -->
    <a href="https://inspirehep.net/authors/1797177"
        disp-title="Inspire" target="_blank"><i class="fa fa-fw fa-graduation-cap"></i></i></a>
</div>
<br>
&copy; 2025 Jaime Redondo-Yuste