$color-primary: #b90202;
$color-text: #121214;
$color-subtext: #6E6E73;
$color-border: hsl(0, 0%, 85%);
$color-box-background: #f7f7f3;
$border-radius: 4px;
$font-family: 'Exo', 'Saira' , 'Didot', sans-serif;

body {
    min-height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-text-size-adjust: 100%;
    background-color: $color-box-background;
    font-family: $font-family;
    color: $color-text;
    font-size: 11pt;
    font-weight: 400;
    font-feature-settings: "onum" 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    letter-spacing: 0.05em;
    line-height: 1.4;

  @media (min-width: 820px) {
    font-size: 12pt;
  }
}

@supports (font-variant-numeric: oldstyle-nums) {
  body {
    font-feature-settings: normal;
    font-variant-numeric: oldstyle-nums;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
  font-size: 11pt;
  font-weight: 600;
  font-variant: small-caps;
}

footer {
  margin-top: 3em;
  padding-bottom: 4em;
  font-size: 0.8em;
  text-align: center;
  color: $color-subtext;
}

.links {
  position: relative;
  display: flex;
  justify-content: center;
}

.links a {
  color: $color-text;
  text-decoration: none;
  letter-spacing: normal;
  font-size: 12pt;
  &:after {
    content: "" !important;
  }
}

.links a:hover {
  color: $color-primary;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1 {
  font-weight: 600;
  font-size: 16pt;
  font-variant: small-caps;
}

h3 {
  font-weight: 500;
  font-size: 14pt;
  font-variant: small-caps;
}

a {
  // transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  color: $color-primary;
  &:hover {
    color: #ffffff;
    background: $color-primary;
    text-decoration: none;
    // padding: 3px 0.5px;
    border-radius: $border-radius;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

a.internal-link {
  color: $color-primary;
  border-bottom: none;
  background: none !important;
  padding: 0;
  white-space: nowrap;
  &:hover {
    color: #ffffff;
    background: $color-primary !important;
    text-decoration: none;
    // padding: 3px 0.5px;
    border-radius: $border-radius;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms;
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 0;
  font-weight: 500;
  box-sizing: border-box;
  text-align: right; 
  color: #6E6E73;
  font-size: 13pt;
  position: relative;
  --f: 30;
  --t: 0.5;
}

.ringdown {
  // flex-shrink: 0;
  flex: 1 1 0;
  height: 18px;
  width: 100%;
  // flex-grow: 1;
  margin-right: 1em;
  transform: translateY(30%);
}

.box {
    max-width: 50vw;
    min-width: 250px;
    /* max-height: 93vh; */
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: stretch;
    overflow: visible;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";
  font-weight: 300;
  font-size: 11pt;

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  // background: $color-primary;
  color:#121214;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}
